@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;font-family: 'Montserrat';
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.main-box {
  background-color: #343d4b;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1030px;
  padding: 0 15px;
  display: none;
  align-items: center;
}

.content {
  background-image: url(../images/bg-images1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 666px;
  border-radius: 30px;
  padding: 50px 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s;
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgb(136, 235, 239, 0.4),rgb(83, 91, 230, 0.4));
  border-radius: 30px;
}

.content__top,
.content__bottom{
  z-index: 10;
}

.content__top-weekday {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.content__top-text {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 13px;
}

.content__top-city {
  font-weight: 600;
  padding-left: 35px;
  position: relative;
}

.content__top-city::before {
  content: '';
  background-image: url(../images/Location.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 0;
  top: 0;
}

.content__bottom-img {
  width: 100px;
}

.content__bottom-temp{
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.content__bottom-weather{
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.info{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 600px;
  background: #222831;
  border-radius: 30px;
  padding: 50px;
}

.form{
  position: relative;
  width: 100%;
}

.form__input{
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(88, 88, 88, 0.3);
  border-radius: 55px;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  padding: 17px 80px 17px 40px;
  color: #fff;
  border: none;
}

.form__input::placeholder{
  opacity: 1;
  color: #fff;
}

.form__button{
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 0;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: all .4s;
}

.form__button:hover {
  background-color: #c1c1c1;
  transform: scale(1.05);
}

.info__list{
  margin-top: 100px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  gap: 15px;
}

.info__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__list-item + .info__list-item {
  margin-top: 15px;
}

.info__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 10px;
}

.info__box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  border: 3px solid #272E37;
  border-radius: 30px;
  transition: all .4s;
}

.info__box-item:hover {
  background-color: #272E37;
  transform: scale(1.05);
  cursor: pointer;
}

.info__box-img {
  width: 60px;
}

.info__box-weekday {
  font-weight: 400;
  margin: 5px 0;
}

.info__box-temp {
  font-weight: 700;
}

/* -------------MEDIA---------------- */

/* ----------1000px--------- */
@media(max-width: 1000px) {
  .content {
    max-width: 400px;
  }

  .info {
    padding: 30px;
  }

  .info__box-item{
    padding: 20px;
  }
}

/* --------------830px-------------- */
@media(max-width: 830px) {
  .content {
    height: 566px;
    max-width: 330px;
  }

  .content__top-weekday {
    font-size: 30px;
    line-height: 50px;
  }

  .content__top-text {
    font-size: 18px;
    line-height: 22px;
  }

  .content__top-city {
    font-size: 18px;
  }

  .content__bottom-img {
    width: 70px;
  }

  .content__bottom-temp {
    font-size: 30px;
    line-height: 41px;
  }

  .content__bottom-weather {
    font-size: 25px;
    line-height: 32px;
  }

  .form__input {
    padding: 7px 80px 7px 30px;
    font-size: 18px;
  }

  .form__button {
    top: 7px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__button img {
    width: 25px;
    height: 25px;
  }

  .info {
    height: 500px;
  }

  .info__list {
    font-size: 20px;
  }

  .info__box-item {
    font-size: 16px;
    padding: 15px;
  }

  .info__box-img {
    width: 40px;
  }
}

/* ----------------680px------------ */
@media(max-width: 680px) {
  .content {
    height: 506px;
    max-width: 270px;
  }

  .info {
    height: 100%;
    padding: 20px;
  }
}

/* -----------------590px------------- */
@media(max-width: 590px) {
  .container {
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    height: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
    padding: 10px 15px;
  }

  .image-overlay {
    border-radius: 0px;
  }

  .content__bottom-img {
    width: 50px;
  }

  .info {
    height: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
  }

  .info__box {
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .info__box-item {
    padding: 20px;
  }
}